{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:CreateBucket",
        "s3:DeleteBucket",
        "s3:GetBucket*",
        "s3:ListBucket",
        "s3:PutBucket*",
        "s3:PutObject",
        "s3:DeleteObject"
      ],
      "Resource": [
        "${bucket_arn}",
        "${bucket_objects_arn}"
      ]
    }
  ]
}
